/a.txt
/target/classes/com/example/wavefunctioncollapse/cell.class
/target/classes/com/example/wavefunctioncollapse/HelloApplication.class
/target/classes/com/example/wavefunctioncollapse/HelloController.class
/src/main/java/com/example/wavefunctioncollapse/HelloController.java
/target/classes/module-info.class

# Default ignored files
.idea/shelf/
.idea/workspace.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
.idea/libraries/Maven__org_controlsfx_controlsfx_11_1_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_1.xml
.idea/libraries/Maven__org_openjfx_javafx_base_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_11_0_2.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/misc.xml
.idea/vcs.xml

